<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='images/cloneflix_background_001.jpg' )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' )}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' )}}">
</head>
<body>
    <div id="index_wrapper" class="bg-image" style="background-image:url('../static/images/cloneflix_background_001.jpg'); height: 100vh;">

    <!-- navbar -->
    <div class="container">
        <!-- "navbar-dark" to have white text on black background "bg-dark" -->
        <!-- "bg-dark will override style" -->
        <nav class="navbar navbar-expand">
            <div class="container">
                <!-- text as brand -->
                <!-- <a href="/" class="navbar-brand" style="color:red"><h2>CLONEFLIX</h2></a> -->
                <!-- logo as brand -->
                <a href="#"><img class="navbar-brand img-fluid" src="../static/images/cloneflix_logo_001.png" 
                    alt="cloneflix_logo" style="max-width: 200px; height: auto;"></a>
        </nav>
    </div>

    <!-- mx-auto for horizontal centering -->
    <div class="container col-4 mx-auto p-4 bg-black bg-opacity-75 mt-2">
        <h4 style="color: white;">Sign In</h4>
        <form action="/user/login/process" method="POST">
            <!-- flash login errors -->
            {% with messages = get_flashed_messages(category_filter = ['login']) %} <!-- declare a variable called messages -->
                {% if messages %} <!-- check if there are any messages -->
                    {% for message in messages %}<!-- loop through the messages -->
                        <p class="error">{{message}}</p><!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!-- floating form -->
            <div class="form-floating mt-4">
                <!-- input must have placeholder in order to work -->
                <input name="email" type="email" id="email" class="form-control" placeholder="Enter Email">
                <!-- label must come after input in order to work -->
                <label for="email" class="form-label">Email</label>
            </div>
            <div class="form-floating mt-3">
                <input name="password" type="password" id="password" class="form-control" placeholder="Enter Password">
                <label for="password" class="form-label">Password</label>
            </div>
            <button href="/user/register" class="btn mt-4 ps-4 pe-4 pt-1 pb-1" style="background-color: red; color:white">Sign In</button>
        </form>
        <div class="pt-5">
            <p style="color:gray">New to CloneFlix? <a href="/user/register" class="link-underline-light link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover" style="color:white">Sign up now</a>.</p>
        </div>
    </div>

        <!-- <div id="login_container">
            <h2>Login</h2>
            <form action="/user/login/process" method="POST">
                <div>
                    <label for="email">Email:</label>
                </div>
                <div>
                    <input type="text" name="email"></input>
                </div>
                <div>
                    <label for="password">Password:</label>
                </div>
                <div>
                    <input type="password" name="password"></input>
                </div><br>
                <div>
                    <input type="submit" class="button" value="Login">
                </div>
            </form>
            <a href="/user/register">register</a>
        </div> -->
        
    </div>
</body>
</html>